/* Fenix Common CSS */
/*#0076ff*/
/* Boostrap Queries */
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

/* Preload CSS */
.loading {
  display: inline-block;
  border: 0 solid rgba(215, 215, 215, 0.25);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.loading:before {
  content: '';
  display: block;
  border: 0 solid transparent;
  border-top-color: #bebebe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading 1s ease infinite;
  -moz-animation: loading 1s ease infinite;
  -ms-animation: loading 1s ease infinite;
  -o-animation: loading 1s ease infinite;
  animation: loading 1s ease infinite; }

/***************************************/
/*				 LOADING			   */
/***************************************/
.loading-16 {
  width: 12px;
  height: 12px;
  border-width: 2px; }

.loading-16:before {
  width: 12px;
  height: 12px;
  border-width: 2px;
  margin: -2px 0 0 -2px; }

.loading-24 {
  width: 18px;
  height: 18px;
  border-width: 3px; }

.loading-24:before {
  width: 18px;
  height: 18px;
  border-width: 3px;
  margin: -3px 0 0 -3px; }

.loading-32 {
  width: 26px;
  height: 26px;
  border-width: 4px; }

.loading-32:before {
  width: 26px;
  height: 26px;
  border-width: 4px;
  margin: -4px 0 0 -4px; }

.loading-48 {
  width: 38px;
  height: 38px;
  border-width: 5px; }

.loading-48:before {
  width: 38px;
  height: 38px;
  border-width: 5px;
  margin: -5px 0 0 -5px; }

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@-ms-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@-o-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes loading {
  100% {
    transform: rotate(360deg); } }
/* Fenix Icons */
.fx-icon, [data-selector-time] [data-action="previous"] span, [data-selector-time] [data-action="next"] span {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-image: url("../../../fenix-ui-common//css/img/fenix-catalog-sprite-small.svg");
  background-repeat: no-repeat;
  background-size: 150px 30px; }

.fx-icon-close {
  background-position: 0 -15px; }

/* Filter */
[data-selector], [data-semantic] {
  /* Focused */
  /* Mandatory */
  /* Disabled */
  /* Hovered */ }
  [data-selector] .controller, [data-semantic] .controller {
    position: absolute;
    right: 0;
    top: 17px; }
    [data-selector] .controller .btn-round, [data-semantic] .controller .btn-round {
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      -ms-border-radius: 50% !important;
      border-radius: 50% !important; }
  [data-selector] .disabled, [data-semantic] .disabled {
    cursor: no-drop;
    opacity: 0.4; }
  @media screen and (max-width: 480px) {
    [data-selector] .controller, [data-semantic] .controller {
      opacity: 1;
      pointer-events: auto; } }
  @media screen and (min-width: 768px) {
    [data-selector] .controller, [data-semantic] .controller {
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.3s ease 0.2s;
      -moz-transition: all 0.3s ease 0.2s;
      -ms-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s; }
    [data-selector]:hover .controller, [data-semantic]:hover .controller {
      opacity: 1;
      pointer-events: auto; } }

.selector-header {
  padding: 10px 0;
  position: relative; }

.fx-selector-title {
  margin-right: 50px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  @media (min-width: 992px) {
    .fx-selector-title {
      margin-right: 105px; } }

.filter-enabled-label {
  width: 10px;
  font-size: 0;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  @media (min-width: 992px) {
    .filter-enabled-label {
      width: auto;
      font-size: inherit; } }

.selector-footer [data-role="summary"] {
  margin: 0; }

[data-code] {
  display: inline-block;
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background-color: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.code-brk {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  color: #999999; }

/* Buttons */
.btn-default {
  color: #333; }

[data-role="remove"].btn-round {
  position: relative;
  top: -2px; }

/* Tree */
.tree-holder {
  height: 150px;
  overflow: auto; }

.fx-tree-search {
  margin-bottom: 5px; }

.fx-tree-buttons {
  margin-bottom: 5px; }

.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
  color: #333; }

/* Range Slider */
.irs-bar, .irs-bar-edge, .irs-line {
  height: 5px;
  top: 37px; }

.irs-bar {
  border-top: 1px solid #0076ff;
  border-bottom: 1px solid #0076ff; }

.irs-bar-edge {
  border: 1px solid #0076ff; }

.irs-bar, .irs-bar-edge {
  background: #0076ff; }

.irs-line {
  background: #dddddd;
  border-color: transparent; }

.irs-slider {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.irs-from, .irs-to, .irs-single {
  background: transparent;
  color: #0076ff; }

/* Time */
.time-selector-icon {
  font-size: 20px; }

[data-selector-time] .day.active {
  background-color: #0076ff; }
  [data-selector-time] .day.active:hover {
    background-color: #407bbf; }
[data-selector-time] .day.today:before {
  border-bottom-color: #0076ff; }
[data-selector-time] .month.active {
  background-color: #0076ff; }
[data-selector-time] .year.active {
  background-color: #0076ff; }
[data-selector-time] .fx-time-addon {
  font-size: 24px;
  padding: 2px 8px;
  color: #0076ff; }
[data-selector-time] [data-action="incrementHours"], [data-selector-time] [data-action="decrementHours"], [data-selector-time] [data-action="incrementMinutes"], [data-selector-time] [data-action="decrementMinutes"] {
  font-size: 24px;
  color: #0076ff; }
[data-selector-time] [data-action="previous"] span:before, [data-selector-time] [data-action="next"] span:before {
  content: none; }
[data-selector-time] [data-action="next"] span {
  background-position: -135px 0; }
[data-selector-time] [data-action="previous"] span {
  background-position: -135px -15px; }
[data-selector-time] [data-action="togglePicker"] {
  padding: 0; }
  [data-selector-time] [data-action="togglePicker"] span {
    font-size: 24px;
    color: #0076ff;
    line-height: 35px !important;
    height: auto !important; }

/* Sortable */
.filter-sortable-list .list-item {
  cursor: pointer;
  margin: 3px;
  padding: 1px 3px;
  background-color: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

[data-group] ul {
  min-height: 50px;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  background-image: none;
  border: 1px solid #d8d8d8; }

/* Tabs component */
.fx-tabs .nav-tabs {
  border: 0; }
  .fx-tabs .nav-tabs > li > a {
    color: #333;
    border-color: transparent; }
    .fx-tabs .nav-tabs > li > a:hover, .fx-tabs .nav-tabs > li > a:focus {
      border-color: transparent;
      background-color: transparent;
      color: #0076ff; }
    .fx-tabs .nav-tabs > li > a:before {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #0076ff;
      left: 0;
      bottom: 5px;
      pointer-events: none;
      -ms-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }
  .fx-tabs .nav-tabs > li.active > a {
    color: #0076ff; }
    .fx-tabs .nav-tabs > li.active > a:before {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -ms-transform: scaleX(0.8);
      -webkit-transform: scaleX(0.8);
      transform: scaleX(0.8); }
    .fx-tabs .nav-tabs > li.active > a:hover, .fx-tabs .nav-tabs > li.active > a:focus {
      border-color: transparent;
      background-color: transparent;
      color: #0076ff; }
.fx-tabs li {
  margin: 12px 0; }

/* Fenix - Buttons Component */
/** avoid dotted lines when clicking on button**/
input[type="button"] {
  outline: none; }

button:focus {
  outline: 0;
  outline: none; }

button:active {
  outline: 0;
  outline: none; }

.btn:focus, .btn:active, .btn:active:focus {
  outline: none; }

input[type="button"]::-moz-focus-inner {
  border: 0; }

/**  end of **/
.btn-round {
  padding: 3px;
  height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .btn-round:last-child:not(:first-child), .btn-round:not(:first-child) {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

/* Visualization Box btns */
.btn-default.meta-btn {
  background-color: #999999;
  font-size: 11px;
  color: white;
  padding: 1px 5px;
  border-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .btn-default.meta-btn:hover {
    background-color: #b3b3b3;
    border-color: transparent; }

/* Fenix - Js tree */
.jstree-default .jstree-search {
  color: #333;
  font-weight: 300;
  font-style: normal; }
.jstree-default .jstree-node:not(.jstree-open) {
  position: relative; }
  .jstree-default .jstree-node:not(.jstree-open) .jstree-wholerow {
    height: 100%; }

.jstree-default .jstree-themeicon {
  display: none;
  /* It hides folder icon */ }

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
  background-image: url("../../../fenix-ui-common//css/img/treejs-32px.svg"); }

.jstree-default .jstree-wholerow-clicked {
  background: none;
  background-color: #cce4ff; }

.jstree-default .jstree-wholerow-hovered {
  background: none;
  background-color: #e6f1ff; }

.jstree-default .jstree-disabled.jstree-clicked {
  background: none;
  background-color: #cce4ff; }

.jstree-container-ul .jstree-anchor {
  white-space: normal;
  height: auto;
  width: 90%; }
.jstree-container-ul [role="group"].jstree-children [role='treeitem'] {
  position: relative; }

li[role="treeitem"]:nth-child(odd) {
  background-color: #f2f2f2 !important; }

ul[role="group"] {
  background-color: white; }

/* Radio Buttons */
input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  cursor: pointer;
  margin: 0 7px;
  font-weight: normal; }
  input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #dddddd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    border: 0 solid #0076ff;
    position: relative;
    top: 2px;
    left: -4px; }

input[type="radio"]:checked + label {
  color: #0076ff; }
  input[type="radio"]:checked + label:before {
    border-width: 5px; }

input[type="radio"] + label:before,
input[type="radio"]:checked + label:before {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

/* Checkbox Buttons */
input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  cursor: pointer;
  margin: 0 7px;
  font-weight: normal; }
  input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #dddddd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    border: 0 solid #0076ff;
    position: relative;
    top: 2px;
    left: -4px; }

input[type="checkbox"]:checked + label {
  color: #0076ff; }
  input[type="checkbox"]:checked + label:before {
    border-width: 5px; }

input[type="checkbox"] + label:before,
input[type="checkbox"]:checked + label:before {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

/* Disabled */
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: no-drop;
  opacity: 0.4; }
  input[type="checkbox"]:disabled + label:before,
  input[type="radio"]:disabled + label:before {
    cursor: no-drop;
    opacity: 0.4; }

/*# sourceMappingURL=test.css.map */
